.cssToast,
.toastError{
    border: 3px solid red;
    border-radius: 13px;
    background-color: rgba(255, 255, 0,.9);
    color: red;
    position: fixed;
    top: 25px;
    left: 2.5rem;
    padding: 5px 15px;
    box-shadow: 3px 3px #CCC;
    font-size: 13pt;
    z-index: 10;
}

.toastSuccess{
    border: 3px solid green;
    color: blue;
}

.toastfadeIn{
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.toastfadeOut {
    animation: fadeOut ease 2s;
    -webkit-animation: fadeOut ease 2s;
    -moz-animation: fadeOut ease 2s;
    -o-animation: fadeOut ease 2s;
    -ms-animation: fadeOut ease 2s;
}

@keyframes fadeIn {
    0% { opacity:0;}
    100% { opacity:1;}
}

@-moz-keyframes fadeIn {
    0% { opacity:0;}
    100% { opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% { opacity:0;}
    100% { opacity:1;}
}

@-o-keyframes fadeIn {
    0% { opacity:0;}
    100% { opacity:1;}
}

@-ms-keyframes fadeIn {
    0% { opacity:0;}
    100% { opacity:1;}
}   

@keyframes fadeOut {
    0% { opacity:1;}
    100% { opacity:0;}
}

@-moz-keyframes fadeOut {
    0% { opacity:1;}
    100% { opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% { opacity:1;}
    100% { opacity:0;}
}

@-o-keyframes fadeOut {
    0% { opacity:1;}
    100% { opacity:0;}
}

@-ms-keyframes fadeOut {
    0% { opacity:1;}
    100% { opacity:0;}
}