.ViewChangePassword_view{
    border: 3px solid green;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.ViewChangePassword_txtChangePassword{
    text-align: center;
}

.ViewChangePassword_view label{
    text-align: center;
}

.ViewChangePassword_view input[type=password]{
    width: 20rem;
    align-self: center;
    margin-top: -1rem;
}

.ViewChangePassword_view input[type=submit]{
    width: 20.8rem;
    align-self: center;
}